main {
  height: 100vh;
  margin-bottom: 6rem;
}
#main-title {
  margin-bottom: 0;
}

#main-signup {
  display: flex;
  justify-content: center;
}

#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  width: 20rem;
  padding: 2rem 1rem;
  background-color: #3B2A2A;
  margin: 2rem;
}

#inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

app-button {
  margin-top: 2rem;
}


@media (max-device-width: 768px) {
  #main-title {
    margin-top: 1rem;
    font-size: 3rem;
  }
}
