@import "../../../variables";

.copyright {
  font-size: 0.75rem;
}

#footer {
  background-color: #3B2A2A;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: 1rem 0;
  font-size: 0.8rem;
  width: 100%;

  a {
    color: #F5D4A1;
  }
}

@media (max-device-width: $mobile-breakpoint) {
  .copyright {
    font-size: 0.6rem;
  }
  #footer {
    font-size: 0.7rem;
  }
}
