
<main>
  <h2 id="main-title">Forum</h2>
  <section class="forum">

    <div id="forum-title">
        <app-button
          label="New Thread"
          ></app-button>
      <div id="forum-search-container">
        <input type="text" name="search" placeholder="Username, Title...">
      </div>
    </div>
    <ul id="thread-list">
      <app-thread-item></app-thread-item>
      <app-thread-item></app-thread-item>
      <app-thread-item></app-thread-item>
      <app-thread-item></app-thread-item>
      <app-thread-item></app-thread-item>
    </ul>
  </section>
</main>
