<div id="catalog">
  <ul id="catalog-options">
    <li>
      <a class="dropdown-toggle" routerLink="article">Gods and heroes</a>
      <ul class="dropdown-menu" id="gods-and-heroes">
      </ul>
    </li>
    <li>
      <a class="dropdown-toggle" routerLink="article">Locations</a>
      <ul class="dropdown-menu" id="locations">
      </ul>
    </li>
    <li>
      <a class="dropdown-toggle" routerLink="article">Myths</a>
      <ul class="dropdown-menu" id="myths">
      </ul>
    </li>
    <li>
      <a routerLink="">Forum</a>
    </li>
  </ul>
  <ul id="authentication" >
  </ul>
</div>
