#catalog {
  background-color: #83695A;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    li {
      font-size: 1.5rem;
      margin: 0 15px;

      a {
        color: #F5D4A1;
        text-decoration: none;
      }
    }

    dropdown-menu {
      display: none;
      position: absolute;

      show {
        display: block;
        background-color: #83695A;
        line-height: 1.2;
        z-index: 1;

        li {
          margin: 0;
          padding: 0.5rem;
        }

        li:hover {
          background-color: #3B2A2A;
        }
      }
    }
  }
}
