#catalog {
    background-color: #83695A;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#catalog ul {
    display: flex;
    gap: 3rem;
    padding: 0 1.5rem;
}

#authentication {
    position: absolute;
    right: 0;
}
