<div id="catalog">
    <ul id="catalog-options">
        <app-navbar-dropdown text="Gods and heroes" id="gods-and-heros" [listItems]="charactersList"></app-navbar-dropdown>
        <app-navbar-dropdown text="Locations" id="locations" [listItems]="locationsList"></app-navbar-dropdown>
        <app-navbar-dropdown text="Myths" id="myths" [listItems]="mythsList"></app-navbar-dropdown>
        <app-navbar-link url="/forum" text="Forum"></app-navbar-link>
    </ul>
    <ul id="authentication">
        @if (user()===null) {
            <app-navbar-link url="/login" text="Log in"></app-navbar-link>
            <app-navbar-link url="/signup" text="Sign up"></app-navbar-link>
        } @else {
        }
    </ul>
</div>
