<div id="catalog">
    <ul id="catalog-options">
        <li>
            <a class="dropdown-toggle" href="#">Gods and heroes</a>
            <ul class="dropdown-menu" id="gods-and-heroes" xlu-include-file="templates/navbar/catalog-item.html" data-json="data/navbar/characters-list.json">
            </ul>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">Locations</a>
            <ul class="dropdown-menu" id="locations" xlu-include-file="templates/navbar/catalog-item.html" data-json="data/navbar/locations-list.json">
            </ul>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">Myths</a>
            <ul class="dropdown-menu" id="myths" xlu-include-file="templates/navbar/catalog-item.html" data-json="data/navbar/myths-list.json">
            </ul>
        </li>
        <app-navbar-link url="forum" text="Forum"></app-navbar-link>
    </ul>
    <ul id="authentication" xlu-include-file="templates/navbar/authentication.html" auth:xlu-include-file="templates/navbar/authenticated.html">
    </ul>
</div>