.infobox-section .section-header {
    background-color: #CAA996;
    padding: 0.1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
}
.infobox-section .section-content {
    padding: 0.4rem;
}
.infobox-section {
    font-size: 0.7rem;
    text-align: center;
}

@media (max-device-width: 768px) {
    .infobox-section {
        font-size: 0.8rem;
        font-weight: normal;
    }
    .infobox-header {
        font-size: 1.5rem;
    }
}

@media (max-device-width: 425px) {
  .infobox-section, .infobox-header {
    width: 9rem;
  }

  .section-content {
    background-color: #856D5E;
  }
}
