#main-title {
  margin-bottom: 0;
}

#main-login {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  width: 20rem;
  max-height: 20rem;
  padding: 2rem 2rem;
  background-color: #3B2A2A;
  margin: 1rem 0 3rem 0;
}

#inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  width: 20rem;
  max-height: 55vh;
  padding: 2rem 2rem;
  background-color: #3B2A2A;
  margin: 1rem 0 3rem 0;
}

@media (max-device-width: 1200px) {
  #main-title {
    font-size: 4rem;
  }
  #login-form {
    width: 40rem;
    max-height: 40vh;
  }
  #signup-form {
    width: 40rem;
    max-height: 65vh;
  }
  .input-label {
    font-size: 2rem;
    margin-top:0.5rem;
  }
  input {
    height: 1.5rem;
    margin-bottom: 1rem;
  }
  #button button {
    font-size: 1.5rem;
    height: 6rem;
    width: 10rem;
    border-radius: 2rem;
    margin-top: 3rem;
  }
}

@media (max-device-width: 500px) {
  #main-title {
    font-size: 4rem;
  }
  #login-form {
    width: 40rem;
    max-height: 20vh;
  }
  #signup-form {
    width: 40rem;
    max-height: 35vh;
  }
  .input-label {
    font-size: 2rem;
    margin-top:0.3rem;
  }
  input {
    height: 1.5rem;
    margin-bottom: 1rem;
  }
  #button button {
    font-size: 1.2rem;
    height: 5rem;
    width: 8.5rem;
    border-radius: 2rem;
    margin-top: 3rem;
  }
}
