<main>
  <h2 id="main-title">Log in</h2>
  <section id="main-login">
    <form id="login-form" action="/users" method="get">
      <div id="inputs">
        <app-input
          label="Username"
          name="username"
          placeholder="Username"
          type="text"></app-input>
        <app-input
          label="Password"
          name="password"
          placeholder="Ingresa tu contraseña"
          type="password"></app-input>
      </div>
    <app-button
      label="Confirm"></app-button>
    </form>
  </section>
</main>
