#title  {
  background-color: #3B2A2A;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  a {
    color: #C2977E;
    text-decoration: none;
    font-size: 5rem;
  }
}

.mb-menu-toggle {
  display: none;
}

@media (max-device-width: 992px) {
  .mb-menu-toggle {
    width: 4rem;
    display: flex;
    height: 4rem;
    position: absolute;
    top: 2rem;
    left: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    background-color: gray;
    border-radius: 100%;
  }
  .mb-menu-toggle > div {
    width: 2rem;
    border-bottom: 4px solid lightgray;
  }
}

@media (max-width: 768px) {
  #title  {
    height: 5.5rem;

    a {
      color: #C2977E;
      text-decoration: none;
      font-size: 3rem;
    }
  }
  .mb-menu-toggle {
    top: 1.3rem;
    top: 1.3rem;
    left: 0.5rem;
    width: 3rem;
    height: 3rem;
  }
}