#title  {
  background-color: #3B2A2A;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: #C2977E;
    text-decoration: none;
    font-size: 5rem;
  }
}
