a img {
    height: 8rem;
}

.preview-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100% - 2rem);
    max-height: calc(100% - 20rem);
}
.preview-image.hidden {
    display: none!important;
}
