<main>
  <aside>
    <div id="article-options">
      <button id="fav-article" type="button">&star; Favourite</button>
      <a id="go-to-forum" href="forum.html">Go to Forums</a>
    </div>
    <div id="infobox">
      <figure id="article-image">
        <img src="../greekom/img/characters/aphrodite/greek-gods-aphrodite-5.webp" alt="">
        <figcaption>Image caption</figcaption>
      </figure>
      <div id="infobox-sections">Infobox section</div>
    </div>
  </aside>

  <h2 id="article-title">Aphrodite</h2>
  <section id="introduction">Lorem ipsum</section>
  <h3>Mythic History</h3>
  <section id="mythic-history">

    <div>
    </div>
  </section>
  <section id="gallery">
    <h3>Gallery</h3>
    <ul ></ul>
  </section>
  <section id="related-myths">
    <h3>Related Myths</h3>
    <ul class="illustrated-article-list"></ul>
  </section>
  <section id="related-characters">
    <h3>Related Characters</h3>
    <ul class="illustrated-article-list"></ul>
  </section>
  <section id="related-locations">
    <h3>Related Locations</h3>
    <ul class="illustrated-article-list"></ul>
  </section>
</main>
