#title-and-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 50px;
}
#title-and-options > svg {
  cursor: pointer;
}

app-gallery-image {
  flex: none;
}

#article-title {
  font-size: 3rem;
}
#article section:not(.infobox-section) {
  margin-bottom: 1.8rem;
}
#article h3 {
  font-size: 2rem;
}
#introduction, #mythic-history {
  font-size: 0.8rem;
  text-align: justify;
}
#article {
  line-height: 1.5;
}
#article aside {
  float: right;
  padding-left: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
#article h3 {
  margin-bottom: 1rem;
  text-align: justify;
}
#gallery ul {
  line-height: 0;
  background-color: #D9D9D9;
  padding: 0.8rem;
  display: flex;
  column-gap: 0.6rem;
  overflow-x: scroll;
  overflow-y: hidden;
}
#article-options {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
#fav-article {
  line-height: 1;
  background-color: #d0b37b;
  color: white;
  font-family: "Inknut Antiqua", serif;
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}
#go-to-forum {
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  background-color: #d9d9d9;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 5rem;
}
#infobox {
  background-color: #6B4C3A;
  color: white;
  border-radius: 10px;
  width: 300px;
}
#article-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0.6rem;
}
#article-image img {
  max-height: 23rem;
  width: 100%;
  object-fit: fill;
  border: 4px solid black;
}

#article-image figcaption {
  font-size: 0.6rem;
}

@media (max-device-width: 768px){
  main {
    margin: 5px 15px;
  }

  #infobox {
    background-color: #6B4C3A;
    color: white;
    border-radius: 10px;
    max-width: 300px;
  }

  #related-characters, #related-myths, #related-locations {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  ul {
    display: flex;
    gap: 2.5rem;
  }

}

@media (max-device-width: 425px) {
  main {
    margin: 5px 15px;
  }

  #article-title {
    font-size: 2rem;
  }

  #title-and-options {
    gap: 2rem;
  }

  #go-to-forum {
    font-size: 10px;
    width: 3rem;
    height: 1.5rem;
  }

  #article aside {
    display: flex;
    justify-content: center;
    align-items: center;
    float: none;
    margin: 0 0 1rem 0;
    padding: 0;
  }

  #infobox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: none;
    width: 100%;
    padding: 1rem 0;

    img {
      border-radius: 50%;
      width: 12rem;
      height: 12rem;
    }
  }

  #infobox-sections {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 90%;
    margin-right: 1rem;
  }

  .illustrated-article-list {
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

}

