<div>
    <div id="thread-controls">
        <div>
            <button type="button" data-togglemodal="#reply-modal">Reply</button>
        </div>
    </div>
    <h2 id="main-title">
        <span>{{title}}</span>
        <div id="fav-thread">
            <button type="button">&star;</button>
        </div>
    </h2>
</div>
<section id="opening-post" xlu-include-file="templates/post.html" data-user="{{user}}" data-content="{{content}}">
</section>
<hr>
<section id="thread-responses" xlu-include-file="templates/post.html" data-json='//{{hostname}}:3000/posts?thread_id={{id}}&_sort=created'></section>
<div id="reply-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-header">New Post</div>
        <form action="/posts" method="POST">
            <div class="toast success">
                <span>Post submited. Reloading...</span>
            </div>
            <input type="hidden" name="thread_id" value="{{id}}">
            <input type="hidden" name="created" class="fill-with-timestamp">
            <input type="hidden" name="user" value="{{username}}">
            <div class="form-group">
                <textarea name="content" rows="10" minlength="5" maxlength="1000" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit">Post</button>
            </div>
        </form>
    </div>
</div>