#header-section {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  background-color: #3B2A2A;
}

#title  {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  a {
    color: #C2977E;
    text-decoration: none;
    font-size: 3rem;
  }
}

#navbar {
  position: absolute;
  display: flex;
  left: 2rem;
  justify-content: center;
  align-items: center;
}


