<main class="thread">
  <div>
    <div id="thread-controls">
      <div>
        <app-button label="Reply" (click)="showModal.set(true)"/>
      </div>
      <div id="fav-thread">
        <button type="button" (click)="toggleFavorite()">
          @if(isFavorite()) {
            ★
          } @else {
            ☆
          }
        </button>
      </div>
    </div>
    <h2 id="main-title">{{thread()?.title}}</h2>
  </div>
  <section id="opening-post">
    <app-post [postId]="thread()?.id||''" [creatorName]="thread()?.creatorName||''" [content]="thread()?.content||''"></app-post>
  </section>
  <hr>
  <section>
    @for(post of (thread()?.posts||[]); track post.id) {
      <app-post [postId]="post.id" [creatorName]="post.creatorName" [content]="post.content"></app-post>
    }
  </section>
  <app-modal title="New Post" [(show)]="showModal">
    <form [formGroup]="modalForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            @if(modalForm.controls.content.invalid && (modalForm.controls.content.dirty || modalForm.controls.content.touched)) {
              @if(modalForm.controls.content.hasError('required')) {
                <div class="input-error">Field is required</div>
              }
              @if(modalForm.controls.content.hasError('minlength')) {
                <div class="input-error">Field is minimum length is 6 characters</div>
              }
              @if(modalForm.controls.content.hasError('maxlength')) {
                <div class="input-error">Field is maximum length is 1000 characters</div>
              }
            }
            <app-textarea name="content" rows="10" formControlName="content"></app-textarea>
        </div>
        <div class="form-controls">
            <app-button
              label="Post"></app-button>
        </div>
    </form>
  </app-modal>
  <ion-toast
    [isOpen]="isToastOpen"
    [message]="toastMessage"
    [duration]="5000"
    (didDismiss)="dismissToast()"
  ></ion-toast>
</main>
