<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <section>
    <div id="inputs">
      @if(form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)) {
        @if(form.controls.password.hasError('required')) {
          <div class="input-error">Field is required</div>
        }
        @if(form.controls.password.hasError('minlength')) {
          <div class="input-error">Field is minimum length is 6 characters</div>
        }
        @if(form.controls.password.hasError('maxlength')) {
          <div class="input-error">Field is maximum length is 26 characters</div>
        }
      }
      <app-input label="New Password" name="password" formControlName="password" placeholder="New password..." type="password"/>
      @if(
        (form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched))
        &&
        (form.controls.confirmPassword.invalid && (form.controls.confirmPassword.dirty || form.controls.confirmPassword.touched))
      ) {
        @if(form.controls.password.hasError('notSame') || form.controls.confirmPassword.hasError('notSame')) {
          <div class="input-error">Confirm Password is not the same as Password</div>
        }
      }
      <app-input label="Confirm New Password" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm password..." type="password"/>
    </div>
      <app-button label="Confirm"/>
  </section>
</form>