section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#labels {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media  (max-device-width: 425px) {
  section {
    width: 5rem;
  }

  #labels {
    gap: 1.5rem;
  }
}
