#section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  max-height: 30rem;
  margin: 1rem 1rem;
  background-color: #3b2a2a;
  border-radius: 0.8rem;
}

#labels {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
}
