<section>
  <div id="labels">
    @if(activeTab()==='personal') {
      <app-profile-personal/>
    } @else if(activeTab()==='password') {
      <app-profile-change-password/>
    } @else if(activeTab()==='characters') {
      <app-profile-favorite [favorites]="favoriteCharacters()" (onRemove)="removeFavoriteArticle($event)" (onNavigate)="navigateToFavoriteArticle($event)"/>
    } @else if(activeTab()==='locations') {
      <app-profile-favorite [favorites]="favoriteLocations()" (onRemove)="removeFavoriteArticle($event)" (onNavigate)="navigateToFavoriteArticle($event)"/>
    } @else if(activeTab()==='myths') {
      <app-profile-favorite [favorites]="favoriteMyths()" (onRemove)="removeFavoriteArticle($event)" (onNavigate)="navigateToFavoriteArticle($event)"/>
    } @else if(activeTab()==='threads') {
      <app-profile-favorite [favorites]="favoriteThreads()" (onRemove)="removeFavoriteThread($event)" (onNavigate)="navigateToFavoriteThread($event)"/>
    }
  </div>
  <ion-toast
    [isOpen]="isToastOpen"
    message="Favorite successfully removed"
    [duration]="5000"
    (didDismiss)="dismissToast()"
  ></ion-toast>
</section>
