<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description">
  <meta name="keywords">
  <title>GreeKom</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
<app-header></app-header>

<section id="main">
  <h2 id="main-title">Main Information</h2>

  <section id="main-characters" class="index-section">
    <h3 class="index-section-title">Main characters</h3>
    <hr>
    <div id="ilustrated-links-section">
      <app-ilustrated-link></app-ilustrated-link>
    </div>
  </section>

  <section id="main-locations" class="index-section">
    <h3 class="index-section-title">Main locations</h3>
    <hr>
    <div id="ilustrated-links-section">
      <app-ilustrated-link></app-ilustrated-link>
    </div>
  </section>

  <section id="main-info-section" class="index-section">
    <h3 class="index-section-title">Main Myths</h3>
    <hr>
    <div id="ilustrated-links-section">
      <app-ilustrated-link></app-ilustrated-link>
    </div>
  </section>
</section>


<app-footer></app-footer>

</body>
</html>
