button {
  background-color: #6E401B;
  color: #FFFFFF;
  font-size: 1.5rem;
  border: 2px solid #000000;
  border-radius: 0.8rem;
  height: 3rem;
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 2rem;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  background-color: #6B4C3A;
  color: #000000;
}

@media (max-device-width: 425px) {
  button {
    padding: 0;
    font-size: 1rem;
    width: 9rem;
    height: 2.5rem;
  }
}
