.thread-item {
  background-color: #caa996;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  position: relative;
  align-items: center;
  height: 3rem;

  a{
    color: black;
    text-decoration: none;
    flex: 1;
  }

  button {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    top: -0.4rem;
    right: 1rem;
    cursor: pointer;
  }
}

@media (max-device-width: 425px) {
  .thread-item {
    width: 90%;
    font-size: 0.7rem;
  }
}
