<main>
  <h2 id="main-title">Main Information</h2>

  <section id="main-characters" class="index-section">
    <h3 class="index-section-title">Main characters</h3>
    <hr>
    <div class="ilustrated-links-section">
      <app-ilustrated-link></app-ilustrated-link>
    </div>
  </section>

  <section id="main-locations" class="index-section">
    <h3 class="index-section-title">Main locations</h3>
    <hr>
    <div class="ilustrated-links-section">
      <app-ilustrated-link></app-ilustrated-link>
    </div>
  </section>

  <section id="main-info-section" class="index-section">
    <h3 class="index-section-title">Main Myths</h3>
    <hr>
    <div class="ilustrated-links-section">
      <app-ilustrated-link></app-ilustrated-link>
    </div>
  </section>
</main>
