<main>
  <h2 id="main-title">Main Information</h2>
  <div id="body-section">
    <section id="main-characters" class="index-section">
      <h3 class="index-section-title">Main characters</h3>
      <hr>
      <div class="ilustrated-links-section">
        @for(article of mainCharacters(); track article.id) {
          <app-ilustrated-link [item]="article"></app-ilustrated-link>
        } @empty {}
      </div>
    </section>

    <section id="main-locations" class="index-section">
      <h3 class="index-section-title">Main locations</h3>
      <hr>
      <div class="ilustrated-links-section">
        @for(article of mainLocations(); track article.id) {
          <app-ilustrated-link [item]="article"></app-ilustrated-link>
        } @empty {}
      </div>
    </section>

    <section id="main-info-section" class="index-section">
      <h3 class="index-section-title">Main Myths</h3>
      <hr>
      <div class="ilustrated-links-section">
        @for(article of mainMyths(); track article.id) {
          <app-ilustrated-link [item]="article"></app-ilustrated-link>
        } @empty {}
      </div>
    </section>
  </div>


</main>
